@charset "utf-8";

/*-----------------------------------
fonts
  http://nomail.com.ua/font/raleway
  https://fonts.google.com/?query=Yantramanav&selection.family=Yantramanav:900
-----------------------------------*/
@font-face{font-family:'Raleway-Black';src:local('Raleway-Black'),url('https://nomail.com.ua/files/woff/d641109f46a9231b7a92d6a114302a2b.woff') format('woff');}
@font-face{font-family:'Raleway-Lighter';src:local('Raleway-ExtraLight'),url('https://nomail.com.ua/files/woff/ebd5c800e24e108dd3aeacb28e16c595.woff') format('woff');}
@font-face{font-family:'Raleway-Light';src:local('Raleway-Light'),url('https://nomail.com.ua/files/woff/6b562d7ca359ccb3259f570bcceb4f70.woff') format('woff');}
@font-face{font-family:'Raleway-Regular';src:local('Raleway-Regular'),url('https://nomail.com.ua/files/woff/2d4cd8722065da2ac700199273325752.woff') format('woff');}
@import url('https://fonts.googleapis.com/css?family=Yantramanav:900'); //font-family: 'Yantramanav', sans-serif;
/*-----------------------------------
colors
-----------------------------------*/
$bg: #191e3f;
$red: #d25a5e;

/*-----------------------------------
vars
-----------------------------------*/
$maw: 1170px;
$middle_size: 768px;

%wr{
  position: relative;
  max-width: $maw;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
.wr{
  @extend %wr;
}

%num{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(white, 0.01);
  font-family: 'Yantramanav';
  font-size: 286px;
  font-weight: 900;
  align-self: flex-start;

  &:before{
    content: attr(data-css);
    display:block;
    position: absolute;
    color: rgba(white, 0.7);
    font-family: 'Raleway-Lighter';
    font-size: 26px;
    font-weight: 100;
    transform: rotate(-90deg);

  }


}
%letter{
  opacity: 0.61;
  text-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
  color: #191e3f;
  font-family: 'Raleway-Black';
  font-size: 650px;
  font-weight: 900;
  line-height: 0;

}
