@charset "utf-8";

/*-----------------------------------
fonts
  http://nomail.com.ua/font/raleway
  https://fonts.google.com/?query=Yantramanav&selection.family=Yantramanav:900
-----------------------------------*/
@font-face{font-family:'Raleway-Black';src:local('Raleway-Black'),url('https://nomail.com.ua/files/woff/d641109f46a9231b7a92d6a114302a2b.woff') format('woff');}
@font-face{font-family:'Raleway-Lighter';src:local('Raleway-ExtraLight'),url('https://nomail.com.ua/files/woff/ebd5c800e24e108dd3aeacb28e16c595.woff') format('woff');}
@font-face{font-family:'Raleway-Light';src:local('Raleway-Light'),url('https://nomail.com.ua/files/woff/6b562d7ca359ccb3259f570bcceb4f70.woff') format('woff');}
@font-face{font-family:'Raleway-Regular';src:local('Raleway-Regular'),url('https://nomail.com.ua/files/woff/2d4cd8722065da2ac700199273325752.woff') format('woff');}
@import url('https://fonts.googleapis.com/css?family=Yantramanav:900'); //font-family: 'Yantramanav', sans-serif;
/*-----------------------------------
colors
-----------------------------------*/
$bg: #191e3f;
$red: #d25a5e;

/*-----------------------------------
vars
-----------------------------------*/
.wr{
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  min-height: inherit;
}
