@charset "utf-8";

/*-----------------------------------
colors
-----------------------------------*/
$bg: #191e3f;


/*-----------------------------------
vars
-----------------------------------*/
%wr{
  position: relative;
  max-width: 1170px;
  padding: 0 30px;
}

.wr{
  @extend %wr;
}