/*-----------------------------------
fonts
  http://nomail.com.ua/font/raleway
  https://fonts.google.com/?query=Yantramanav&selection.family=Yantramanav:900
-----------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Yantramanav:900");
@font-face {
  font-family: 'Raleway-Black';
  src: local("Raleway-Black"), url("https://nomail.com.ua/files/woff/d641109f46a9231b7a92d6a114302a2b.woff") format("woff"); }
@font-face {
  font-family: 'Raleway-Lighter';
  src: local("Raleway-ExtraLight"), url("https://nomail.com.ua/files/woff/ebd5c800e24e108dd3aeacb28e16c595.woff") format("woff"); }
@font-face {
  font-family: 'Raleway-Light';
  src: local("Raleway-Light"), url("https://nomail.com.ua/files/woff/6b562d7ca359ccb3259f570bcceb4f70.woff") format("woff"); }
@font-face {
  font-family: 'Raleway-Regular';
  src: local("Raleway-Regular"), url("https://nomail.com.ua/files/woff/2d4cd8722065da2ac700199273325752.woff") format("woff"); }
/*-----------------------------------
colors
-----------------------------------*/
/*-----------------------------------
vars
-----------------------------------*/
.wr {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  min-height: inherit; }
  @media (max-width: 768px) {
    .wr {
      padding: 0 30px; } }

.mission > .wr > .el-1 > .num, .projects > .wr > .el-1 > .num, .team > .wr > .el-1 > .num, .event > .wr > .el-1 .num {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: rgba(255, 255, 255, 0.02);
  font-family: Yantramanav;
  font-size: 286px;
  font-weight: 900;
  line-height: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .mission > .wr > .el-1 > .num:before, .projects > .wr > .el-1 > .num:before, .team > .wr > .el-1 > .num:before, .event > .wr > .el-1 .num:before {
    content: attr(data-css);
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: white;
    font-family: Raleway-Lighter;
    font-size: 24px;
    font-weight: 100; }

.projects > .wr > .el-1 > .letter, .team > .wr > .el-1 > .letter, .event > .wr > .el-1 .letter {
  text-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
  color: rgba(25, 30, 63, 0.61);
  font-family: Raleway-Black;
  font-size: 600px;
  font-weight: 900;
  line-height: 0; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
  min-height: 100%;
  color: white;
  background: #191e3f; }

section {
  position: relative;
  min-height: 100vh; }

header {
  position: relative;
  min-height: 100vh;
  background: no-repeat center / cover; }
  header:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 20vh;
    bottom: 0;
    background: linear-gradient(to top, #191e3f, transparent); }
  header > .wr {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    header > .wr > .row-1 {
      text-align: center;
      -ms-flex-preferred-size: 100%;
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
      padding: 84px 0 0 0; }
      @media (max-width: 768px) {
        header > .wr > .row-1 {
          text-align: left; } }
      header > .wr > .row-1 > .menu {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: absolute;
        right: 0;
        top: 117px;
        width: 47px;
        height: 17px; }
        @media (max-width: 768px) {
          header > .wr > .row-1 > .menu {
            right: 30px; } }
        header > .wr > .row-1 > .menu:before, header > .wr > .row-1 > .menu:after {
          content: '';
          display: block;
          height: 4px;
          background: white; }
    header > .wr > .row-2 {
      text-align: center; }
      header > .wr > .row-2 h1 {
        font-family: Raleway-Lighter;
        font-size: 60px;
        font-weight: lighter;
        color: rgba(255, 255, 255, 0.6); }
        @media (max-width: 768px) {
          header > .wr > .row-2 h1 {
            font-size: 40px; } }

.mission {
  padding: 100px 0 200px 0;
  box-sizing: border-box; }
  .mission > .wr {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .mission > .wr > .el-1 {
      position: absolute;
      left: 0; }
      @media (max-width: 768px) {
        .mission > .wr > .el-1 {
          position: relative;
          margin-bottom: 50px; } }
    .mission > .wr > .el-2 {
      position: relative;
      max-width: 660px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      box-shadow: 0 178px 152px rgba(0, 0, 0, 0.45); }
      @media (max-width: 768px) {
        .mission > .wr > .el-2 {
          display: block;
          margin-top: 100px;
          box-shadow: 0 50px 152px rgba(0, 0, 0, 0.45); } }
      .mission > .wr > .el-2 img {
        max-width: 100%; }
      .mission > .wr > .el-2 .text {
        position: absolute;
        width: 360px;
        left: 68%;
        color: rgba(255, 255, 255, 0.7);
        font-family: Raleway-Lighter;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 100; }
        @media (max-width: 768px) {
          .mission > .wr > .el-2 .text {
            left: auto;
            position: relative;
            margin-top: 10px;
            width: auto; } }

.projects {
  position: relative;
  padding: 100px 0;
  box-sizing: border-box;
  background: no-repeat center / cover; }
  .projects:before, .projects:after {
    content: '';
    position: absolute;
    height: 20vh;
    width: 100%; }
  .projects:before {
    background: linear-gradient(to bottom, #191e3f, transparent);
    top: 0; }
  .projects:after {
    background: linear-gradient(to top, #191e3f, transparent);
    bottom: 0; }
  .projects > .wr {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .projects > .wr > .el-1 {
      position: absolute;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%; }
      @media (max-width: 768px) {
        .projects > .wr > .el-1 {
          position: relative;
          margin: 150px 0; } }
      .projects > .wr > .el-1 > .letter {
        line-height: .3; }
        @media (max-width: 768px) {
          .projects > .wr > .el-1 > .letter {
            -webkit-order: 2;
            -ms-flex-order: 2;
            order: 2;
            font-size: 400px;
            margin-top: 300px;
            position: absolute; } }
      .projects > .wr > .el-1 > .num {
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start; }
        @media (max-width: 768px) {
          .projects > .wr > .el-1 > .num {
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1; } }
    .projects > .wr > .el-2 {
      position: relative;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      max-width: 900px; }
      @media (max-width: 768px) {
        .projects > .wr > .el-2 {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start; } }
      .projects > .wr > .el-2 a {
        display: block;
        margin-right: 50px;
        margin-bottom: 50px;
        width: calc(33% - 50px); }

.team {
  padding: 200px 0 300px 0; }
  .team > .wr > .el-1 {
    position: absolute;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
    @media (max-width: 768px) {
      .team > .wr > .el-1 {
        position: relative;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .team > .wr > .el-1 > .num {
      position: absolute;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      left: 0; }
      @media (max-width: 768px) {
        .team > .wr > .el-1 > .num {
          position: relative; } }
    .team > .wr > .el-1 > .letter {
      font-size: 900px;
      text-shadow: 0 58px 165px rgba(0, 0, 0, 0.45); }
      @media (max-width: 768px) {
        .team > .wr > .el-1 > .letter {
          font-size: 400px;
          line-height: 1;
          margin-top: 100px; } }
  .team > .wr > .el-2 {
    position: relative; }
    .team > .wr > .el-2 ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media (max-width: 768px) {
        .team > .wr > .el-2 ul {
          display: block;
          margin-top: -100px; } }
      .team > .wr > .el-2 ul li {
        -ms-flex-preferred-size: 50%;
        -webkit-flex-basis: 50%;
                flex-basis: 50%;
        box-sizing: border-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start; }
        @media (max-width: 768px) {
          .team > .wr > .el-2 ul li {
            padding: 0 !important;
            margin-bottom: 80px; } }
        .team > .wr > .el-2 ul li > .photo {
          max-width: 470px;
          position: relative;
          box-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
          transition: all 0.3s ease; }
          @media (max-width: 768px) {
            .team > .wr > .el-2 ul li > .photo {
              width: 320px;
              box-shadow: 0 50px 50px rgba(0, 0, 0, 0.45); } }
          .team > .wr > .el-2 ul li > .photo:hover {
            box-shadow: 0 30px 50px rgba(0, 0, 0, 0.45);
            -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
            transform: scale(0.9); }
          .team > .wr > .el-2 ul li > .photo img {
            max-width: 100%;
            margin-bottom: -5px; }
          .team > .wr > .el-2 ul li > .photo .info {
            position: absolute;
            bottom: 50px;
            width: 300px; }
            @media (max-width: 768px) {
              .team > .wr > .el-2 ul li > .photo .info {
                position: relative;
                bottom: auto !important;
                left: auto !important;
                padding: 15px;
                width: auto; } }
            .team > .wr > .el-2 ul li > .photo .info:before {
              content: '';
              display: block;
              width: 56px;
              height: 4px;
              background-color: white;
              margin-bottom: 20px; }
            .team > .wr > .el-2 ul li > .photo .info > .name {
              font-family: Raleway-Light;
              font-size: 32px;
              font-weight: 100;
              margin-bottom: 15px;
              white-space: nowrap; }
              @media (max-width: 768px) {
                .team > .wr > .el-2 ul li > .photo .info > .name {
                  white-space: normal; } }
            .team > .wr > .el-2 ul li > .photo .info > .spec {
              color: rgba(255, 255, 255, 0.5);
              font-family: Raleway-Light;
              font-size: 17px;
              font-weight: 100; }
            .team > .wr > .el-2 ul li > .photo .info > .text {
              color: rgba(255, 255, 255, 0.5);
              font-family: Raleway-Light;
              font-size: 15px;
              font-weight: 100;
              max-width: 300px; }
        .team > .wr > .el-2 ul li:nth-of-type(2) {
          padding: 0 100px 150px 0; }
          .team > .wr > .el-2 ul li:nth-of-type(2) .info {
            left: -160px; }
        .team > .wr > .el-2 ul li:nth-of-type(3) {
          padding: 0 0 160px 0; }
          .team > .wr > .el-2 ul li:nth-of-type(3) .info {
            left: 86%; }
        .team > .wr > .el-2 ul li:nth-of-type(4) {
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          padding-top: 127px; }
          .team > .wr > .el-2 ul li:nth-of-type(4) .info {
            left: -100px; }
        .team > .wr > .el-2 ul li:nth-of-type(5) {
          padding-left: 112px; }
          .team > .wr > .el-2 ul li:nth-of-type(5) .info {
            left: -100px; }
        .team > .wr > .el-2 ul li:nth-of-type(6) {
          padding: 210px 0 0 100px; }
          .team > .wr > .el-2 ul li:nth-of-type(6) .info {
            left: 55%; }

.event {
  position: relative;
  background: no-repeat center / cover; }
  .event:before {
    content: '';
    width: 100%;
    position: absolute;
    height: 20vh;
    background: linear-gradient(to bottom, #191e3f, transparent);
    top: 0; }
  .event > .wr {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .event > .wr > .el-1 {
      position: absolute;
      min-height: 100vh;
      width: 100%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
      @media (max-width: 768px) {
        .event > .wr > .el-1 {
          position: relative;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; } }
      .event > .wr > .el-1 .num {
        font-size: 200px;
        bottom: -140px;
        left: 60px;
        z-index: 1; }
        @media (max-width: 768px) {
          .event > .wr > .el-1 .num {
            bottom: auto;
            left: auto;
            z-index: auto; } }
      .event > .wr > .el-1 .letter {
        position: absolute;
        font-size: 800px;
        line-height: 0.7;
        right: 100px; }
        @media (max-width: 768px) {
          .event > .wr > .el-1 .letter {
            position: relative;
            font-size: 500px;
            right: auto;
            line-height: 1;
            margin-top: 50px;
            text-shadow: 0 50px 150px rgba(0, 0, 0, 0.45); } }
    .event > .wr > .el-2 {
      min-height: 100vh;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-line-pack: center;
      -webkit-align-content: center;
              align-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 486px; }
      .event > .wr > .el-2 h2 {
        font-family: Raleway-Light;
        font-size: 52px;
        font-weight: 100;
        line-height: 83px;
        margin: 0; }
      .event > .wr > .el-2 .text {
        color: rgba(255, 255, 255, 0.6);
        font-family: Raleway-Light;
        font-size: 19px;
        font-weight: 100;
        line-height: 1.5; }
    .event > .wr footer {
      position: relative;
      width: 100%;
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      padding-bottom: 70px;
      text-align: center; }
      .event > .wr footer .links {
        margin: 30px 0 15px 0; }
        .event > .wr footer .links a {
          display: inline-block;
          font-family: Raleway-Light;
          font-size: 15px;
          font-weight: 100;
          line-height: 36px;
          margin: 0 4px;
          color: rgba(255, 255, 255, 0.4); }
          .event > .wr footer .links a:hover {
            color: white; }
      .event > .wr footer .copy {
        font-family: Raleway-Light;
        font-size: 15px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.4); }
        .event > .wr footer .copy a {
          color: silver; }
          .event > .wr footer .copy a:hover {
            color: #d25a5e; }
