@charset "utf-8";
@import "settings";

body{
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.5;
  background: $bg ;
}

header{
  position: relative;
  background: no-repeat center / cover;
  min-height: 100vh;
}



