@charset "utf-8";
@import "settings";

body{
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.5;
  background: $bg ;
}

header{
  position: relative;
  background: no-repeat center / cover;
  min-height: 100vh;

  &:before{
    content: '';
    display:block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 25vh;
    background: linear-gradient(to top, $bg, transparent);
  }
  
  &>.wr{
    display: flex;
    min-height: inherit;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 30px;
    box-sizing: border-box;

    &>.row-1{
      position: relative;
      flex-basis: 100%;
      text-align: center;

      @media (max-width: $middle_size) {
        text-align: left;
      }

      .logo{
        display:inline-block;
        width: 127px;
        height: 78px;
        background: url("../img/logo.png") no-repeat center / contain;
      }
      .menu{
        position: absolute;
        right: 0;
        top: 23px;
        width: 47px;
        height: 17px;

        &:before{
          content: '';
          display:block;
          height: 4px;
          background: white;
          margin-bottom: 10px;
        }
        &:after{
          content: '';
          display:block;
          height: 4px;
          background: white;


        }
        
        &:hover{
          &:before, &:after{
            background-color: $red ;
            
          }
        }

      }

    }
    &>.row-2{
      position: relative;

      h1{
        text-align: center;
        font-family: 'Raleway-Lighter';
        font-size: 40px;
        font-weight: lighter;
        opacity: .7;
      }
    }
  }

}
section.mission{
  position: relative;
  min-height: 100vh;

  &>.wr{
    position: relative;
    min-height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &>.el-1{
      left: 0;
      position: absolute;
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;

      &>.img{
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: percentage(570px / $maw);

        span{
          position: relative;
          display:block;
          padding-top: 100%;
          background: no-repeat center / cover;
          box-shadow:  0 48px 84px 17px #111428;
          will-change: all;
        }
      }
    }
    &>.el-2{
      position: relative;
      display: flex;
      justify-content: space-between;

      &>.col-1{
        position: relative;
        width: percentage(223px / $maw);
        display: flex;
        align-items: center;
        justify-content: center;

        &>.num{
          color: rgba(white, 0.01);
          font-family: 'Yantramanav';
          font-size: 286px;
          font-weight: 900;
          line-height: 0;
        }

        &>.rotate-text{
          position: absolute;
          color: rgba(white, .7);
          font-family: 'Raleway-Lighter';
          font-size: 26px;
          font-weight: lighter;
          transform: rotate(-90deg);

        }


      }
      &>.col-2{
        width: percentage(475px / $maw);

        p{
          color: rgba(white, .7);
          font-family: 'Raleway-Light';
          font-size: 16px;
          font-weight: 100;
        }
      }
    }
  }
}
section.projects{
  position: relative;
  min-height: 100vh;
  background: no-repeat center / cover;

  &:before{
    content: '';
    display:block;
    position: absolute;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, $bg, transparent);
  }
  &:after{
    content: '';
    display:block;
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
    background: linear-gradient(to top, $bg, transparent);
  }

  &>.wr{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &>.el-1{
      position: absolute;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width:100%;
      padding: 0 30px;
      box-sizing: border-box;

      &>.letter{
        @extend %letter;
      }
      &>.num{
        @extend %num;
        margin-bottom: 20%;

      }

    }
    &>.el-2{
      position: relative;

      &>ul{
        position: relative;
        list-style: none;
        max-width: 750px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li{
          flex-basis: calc(33% - 50px);
          margin-right: 50px;

          img{
            max-width: 100%;
          }
        }
      }
    }
  }
}
section.team{
  position: relative;
  min-height: 100vh;
  margin-top: 80px;

  &>.wr{
    min-height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &>.el-1{
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
      left: 0;

      &>.letter{
        @extend %letter;
        align-self: center;
        margin: auto;

      }
      &>.num{
        @extend %num;
        position: absolute;
      }

    }
    &>.el-2{
      position: relative;

      &>ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li{
          position: relative;
          flex-basis: 45%;
          box-sizing: border-box;
          z-index: 1;

          &:nth-of-type(2){
            flex: 1;
            margin-bottom: 70px;

            .photo{
              width: 450px;
              height: 450px;

              .text{
                left: -150px;
              }
            }
          }
          &:nth-of-type(3){

            .text{ left: 80%;}
          }
          &:nth-of-type(4){
            padding: 140px 0 0 50px;

            .text{ left: -80px;}
          }
          &:nth-of-type(5){
            padding: 0 0 0 107px;
            .text{ left: -80px;}
          }
          &:nth-of-type(6){
            padding: 200px 0 0 0;
            .text{ left: 55%;}
          }

          .photo{
            position: relative;
            width: 300px;
            height: 300px;
            background: no-repeat center / cover;
            box-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);

            .text{
              position: absolute;
              bottom: 30px;
              width: 330px;

              &:before{
                content: '';
                display:block;
                width: 45px;
                height: 5px;
                background-color: white;
                margin-bottom: 20px;
              }
              .name{
                position: relative;
                font-family: Raleway-Lighter;
                font-size: 32px;
                font-weight: 100;
                color: rgba(white, .8);
              }
              .spec{
                color: rgba(white, .5);
                font-family: Raleway-Lighter;
                font-size: 17px;
                font-weight: 100;
              }
              .descr{
                font-family: Raleway-Lighter;
                font-size: 14px;
                font-weight: 100;
                color: rgba(white, .8);
              }

            }

          }
        }
      }
    }
  }
}
section.event{
  position: relative;
  min-height: 100vh;
  margin-top: 200px;
  background: no-repeat center / cover;

  &:before{
    content: '';
    display:block;
    position: absolute;
    width: 100%;
    height: 15vh;
    background: linear-gradient(to bottom, $bg, transparent);
  }

  &>.wr{
    position: relative;
    min-height: inherit;

    &>.el-1{
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 100px 30px 0 0;
      box-sizing: border-box;



      &>.letter{
        @extend %letter;
        align-self: flex-end;
        position: absolute;
        line-height: 1;
        right: 150px;
      }
      &>.num{
        @extend %num;
        align-self: center;
        font-size: 190px;
        color: rgba(white, 0.02);
        top: 45px;
        left: 80px;

      }
    }
    &>.el-2{
      position: relative;
      display: flex;
      min-height: inherit;
      align-items: center;


      &>.content{
        max-width: 480px;

        h3{
          color: rgba(white, .8) ;
          font-family: Raleway-Lighter;
          font-size: 48px;
          font-weight: lighter;
        }

        .descr{
          color: white;
          font-family: Raleway-Lighter;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    footer{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;

      &>ul.links{
        list-style: none;
        display: flex;
        margin: 35px 0 20px 0; padding: 0;

        li{
          margin: 0 15px;

          a{
            color: rgba(white, .4);
            font-family: Raleway-Regular;
            font-size: 14px;
            font-weight: 100;
            //line-height: 36px;
            
            &:hover, &.active{
              color: white;
            }
          }
        }
      }
      &>.copy{
        color: rgba(white, .4);
        font-family: Raleway-Lighter;
        font-size: 13px;
        font-weight: 100;

        a{
          color: inherit;

          &:hover{
            color: white;
          }
        }
      }

    }
  }
  
}



