/*-----------------------------------
fonts
  http://nomail.com.ua/font/raleway
  https://fonts.google.com/?query=Yantramanav&selection.family=Yantramanav:900
-----------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Yantramanav:900");
@font-face {
  font-family: 'Raleway-Black';
  src: local("Raleway-Black"), url("https://nomail.com.ua/files/woff/d641109f46a9231b7a92d6a114302a2b.woff") format("woff"); }
@font-face {
  font-family: 'Raleway-Lighter';
  src: local("Raleway-ExtraLight"), url("https://nomail.com.ua/files/woff/ebd5c800e24e108dd3aeacb28e16c595.woff") format("woff"); }
@font-face {
  font-family: 'Raleway-Light';
  src: local("Raleway-Light"), url("https://nomail.com.ua/files/woff/6b562d7ca359ccb3259f570bcceb4f70.woff") format("woff"); }
@font-face {
  font-family: 'Raleway-Regular';
  src: local("Raleway-Regular"), url("https://nomail.com.ua/files/woff/2d4cd8722065da2ac700199273325752.woff") format("woff"); }
/*-----------------------------------
colors
-----------------------------------*/
/*-----------------------------------
vars
-----------------------------------*/
.wr {
  position: relative;
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box; }

section.projects > .wr > .el-1 > .num, section.team > .wr > .el-1 > .num, section.event > .wr > .el-1 > .num {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.01);
  font-family: 'Yantramanav';
  font-size: 286px;
  font-weight: 900;
  align-self: flex-start; }
  section.projects > .wr > .el-1 > .num:before, section.team > .wr > .el-1 > .num:before, section.event > .wr > .el-1 > .num:before {
    content: attr(data-css);
    display: block;
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Raleway-Lighter';
    font-size: 26px;
    font-weight: 100;
    transform: rotate(-90deg); }

section.projects > .wr > .el-1 > .letter, section.team > .wr > .el-1 > .letter, section.event > .wr > .el-1 > .letter {
  opacity: 0.61;
  text-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
  color: #191e3f;
  font-family: 'Raleway-Black';
  font-size: 650px;
  font-weight: 900;
  line-height: 0; }

body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1.5;
  background: #191e3f; }

header {
  position: relative;
  background: no-repeat center / cover;
  min-height: 100vh; }
  header:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 25vh;
    background: linear-gradient(to top, #191e3f, transparent); }
  header > .wr {
    display: flex;
    min-height: inherit;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 30px;
    box-sizing: border-box; }
    header > .wr > .row-1 {
      position: relative;
      flex-basis: 100%;
      text-align: center; }
      @media (max-width: 768px) {
        header > .wr > .row-1 {
          text-align: left; } }
      header > .wr > .row-1 .logo {
        display: inline-block;
        width: 127px;
        height: 78px;
        background: url("../img/logo.png") no-repeat center/contain; }
      header > .wr > .row-1 .menu {
        position: absolute;
        right: 0;
        top: 23px;
        width: 47px;
        height: 17px; }
        header > .wr > .row-1 .menu:before {
          content: '';
          display: block;
          height: 4px;
          background: white;
          margin-bottom: 10px; }
        header > .wr > .row-1 .menu:after {
          content: '';
          display: block;
          height: 4px;
          background: white; }
        header > .wr > .row-1 .menu:hover:before, header > .wr > .row-1 .menu:hover:after {
          background-color: #d25a5e; }
    header > .wr > .row-2 {
      position: relative; }
      header > .wr > .row-2 h1 {
        text-align: center;
        font-family: 'Raleway-Lighter';
        font-size: 40px;
        font-weight: lighter;
        opacity: .7; }

section.mission {
  position: relative;
  min-height: 100vh; }
  section.mission > .wr {
    position: relative;
    min-height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    section.mission > .wr > .el-1 {
      left: 0;
      position: absolute;
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box; }
      @media (max-width: 768px) {
        section.mission > .wr > .el-1 {
          position: relative; } }
      section.mission > .wr > .el-1 > .img {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 48.71795%; }
        @media (max-width: 768px) {
          section.mission > .wr > .el-1 > .img {
            max-width: 100%; } }
        section.mission > .wr > .el-1 > .img span {
          position: relative;
          display: block;
          padding-top: 100%;
          background: no-repeat center / cover;
          box-shadow: 0 48px 84px 17px #111428;
          will-change: all; }
    section.mission > .wr > .el-2 {
      position: relative;
      display: flex;
      justify-content: space-between; }
      @media (max-width: 768px) {
        section.mission > .wr > .el-2 {
          display: block; } }
      section.mission > .wr > .el-2 > .col-1 {
        position: relative;
        width: 19.05983%;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (max-width: 768px) {
          section.mission > .wr > .el-2 > .col-1 {
            width: 100%; } }
        section.mission > .wr > .el-2 > .col-1 > .num {
          color: rgba(255, 255, 255, 0.01);
          font-family: 'Yantramanav';
          font-size: 286px;
          font-weight: 900;
          line-height: 0; }
        section.mission > .wr > .el-2 > .col-1 > .rotate-text {
          position: absolute;
          color: rgba(255, 255, 255, 0.7);
          font-family: 'Raleway-Lighter';
          font-size: 26px;
          font-weight: lighter;
          transform: rotate(-90deg); }
      section.mission > .wr > .el-2 > .col-2 {
        width: 40.59829%; }
        @media (max-width: 768px) {
          section.mission > .wr > .el-2 > .col-2 {
            margin-top: 120px;
            width: 100%; } }
        section.mission > .wr > .el-2 > .col-2 p {
          color: rgba(255, 255, 255, 0.7);
          font-family: 'Raleway-Light';
          font-size: 16px;
          font-weight: 100; }

section.projects {
  position: relative;
  min-height: 100vh;
  background: no-repeat center / cover; }
  section.projects:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, #191e3f, transparent); }
  section.projects:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
    background: linear-gradient(to top, #191e3f, transparent); }
  section.projects > .wr {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; }
    @media (max-width: 768px) {
      section.projects > .wr {
        display: block;
        padding-top: 150px; } }
    section.projects > .wr > .el-1 {
      position: absolute;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
      top: 0;
      left: 0; }
      @media (max-width: 768px) {
        section.projects > .wr > .el-1 {
          min-height: inherit;
          flex-direction: column; } }
      section.projects > .wr > .el-1 > .letter {
        position: relative; }
        @media (max-width: 768px) {
          section.projects > .wr > .el-1 > .letter {
            font-size: 360px;
            line-height: 1;
            order: 2; } }
      section.projects > .wr > .el-1 > .num {
        position: relative;
        margin-bottom: 20%; }
        @media (max-width: 768px) {
          section.projects > .wr > .el-1 > .num {
            order: 1;
            color: rgba(255, 255, 255, 0.02);
            margin-bottom: 0; } }
    section.projects > .wr > .el-2 {
      position: relative; }
      section.projects > .wr > .el-2 > ul {
        position: relative;
        list-style: none;
        max-width: 750px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center; }
        @media (max-width: 768px) {
          section.projects > .wr > .el-2 > ul {
            flex-direction: column;
            padding: 0;
            margin-top: 215px; } }
        section.projects > .wr > .el-2 > ul li {
          flex-basis: calc(33% - 50px);
          margin-right: 50px; }
          @media (max-width: 768px) {
            section.projects > .wr > .el-2 > ul li {
              margin-right: 0;
              margin-bottom: 35px;
              flex-basis: auto; } }
          section.projects > .wr > .el-2 > ul li img {
            max-width: 100%; }

section.team {
  position: relative;
  min-height: 100vh;
  margin-top: 80px;
  padding-bottom: 200px; }
  section.team > .wr {
    min-height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    section.team > .wr > .el-1 {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
      left: 0; }
      section.team > .wr > .el-1 > .letter {
        align-self: center;
        margin: auto; }
      section.team > .wr > .el-1 > .num {
        position: absolute; }
    section.team > .wr > .el-2 {
      position: relative;
      flex-basis: 100%; }
      section.team > .wr > .el-2 > ul {
        position: relative;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0; }
        @media (max-width: 768px) {
          section.team > .wr > .el-2 > ul {
            flex-direction: column;
            justify-content: center;
            align-items: center; } }
        section.team > .wr > .el-2 > ul li {
          position: relative;
          flex-basis: 45%;
          box-sizing: border-box;
          z-index: 1; }
          @media (max-width: 768px) {
            section.team > .wr > .el-2 > ul li {
              flex-basis: 100%;
              margin-bottom: 70px;
              padding: 0 !important; } }
          section.team > .wr > .el-2 > ul li:nth-of-type(2) {
            flex: 1;
            margin-bottom: 70px; }
            section.team > .wr > .el-2 > ul li:nth-of-type(2) .photo {
              width: 450px;
              height: 450px; }
              @media (max-width: 768px) {
                section.team > .wr > .el-2 > ul li:nth-of-type(2) .photo {
                  width: 300px;
                  height: auto; } }
              section.team > .wr > .el-2 > ul li:nth-of-type(2) .photo .text {
                left: -150px; }
                @media (max-width: 768px) {
                  section.team > .wr > .el-2 > ul li:nth-of-type(2) .photo .text {
                    left: auto; } }
          section.team > .wr > .el-2 > ul li:nth-of-type(3) .text {
            left: 80%; }
          section.team > .wr > .el-2 > ul li:nth-of-type(4) {
            padding: 140px 0 0 50px; }
            section.team > .wr > .el-2 > ul li:nth-of-type(4) .text {
              left: -80px; }
          section.team > .wr > .el-2 > ul li:nth-of-type(5) {
            padding: 0 0 0 107px; }
            section.team > .wr > .el-2 > ul li:nth-of-type(5) .text {
              left: -80px; }
          section.team > .wr > .el-2 > ul li:nth-of-type(6) {
            padding: 200px 0 0 0; }
            section.team > .wr > .el-2 > ul li:nth-of-type(6) .text {
              left: 55%; }
          section.team > .wr > .el-2 > ul li .photo {
            position: relative;
            width: 300px;
            height: 300px;
            background: no-repeat center / cover;
            box-shadow: 0 178px 152px rgba(0, 0, 0, 0.45); }
            @media (max-width: 768px) {
              section.team > .wr > .el-2 > ul li .photo {
                background: no-repeat top / contain;
                height: auto; } }
            section.team > .wr > .el-2 > ul li .photo .text {
              position: absolute;
              bottom: 30px;
              width: 330px; }
              @media (max-width: 768px) {
                section.team > .wr > .el-2 > ul li .photo .text {
                  position: relative;
                  width: auto;
                  padding: 355px 15px 15px 15px;
                  left: auto !important;
                  right: auto !important; } }
              section.team > .wr > .el-2 > ul li .photo .text:before {
                content: '';
                display: block;
                width: 45px;
                height: 5px;
                background-color: white;
                margin-bottom: 20px; }
              section.team > .wr > .el-2 > ul li .photo .text .name {
                position: relative;
                font-family: Raleway-Lighter;
                font-size: 32px;
                font-weight: 100;
                color: rgba(255, 255, 255, 0.8); }
              section.team > .wr > .el-2 > ul li .photo .text .spec {
                color: rgba(255, 255, 255, 0.5);
                font-family: Raleway-Lighter;
                font-size: 17px;
                font-weight: 100; }
              section.team > .wr > .el-2 > ul li .photo .text .descr {
                font-family: Raleway-Lighter;
                font-size: 14px;
                font-weight: 100;
                color: rgba(255, 255, 255, 0.8); }

section.event {
  position: relative;
  min-height: 100vh;
  margin-top: 200px;
  background: no-repeat center / cover; }
  section.event:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 15vh;
    background: linear-gradient(to bottom, #191e3f, transparent); }
  section.event > .wr {
    position: relative;
    min-height: inherit; }
    section.event > .wr > .el-1 {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 100px 30px 0 0;
      box-sizing: border-box;
      left: 0; }
      @media (max-width: 768px) {
        section.event > .wr > .el-1 {
          display: block;
          position: relative; } }
      section.event > .wr > .el-1 > .letter {
        align-self: flex-end;
        position: absolute;
        line-height: 1;
        right: 150px; }
        @media (max-width: 768px) {
          section.event > .wr > .el-1 > .letter {
            right: 0; } }
      section.event > .wr > .el-1 > .num {
        align-self: center;
        font-size: 190px;
        color: rgba(255, 255, 255, 0.02);
        top: 45px;
        left: 80px; }
    section.event > .wr > .el-2 {
      position: relative;
      display: flex;
      min-height: inherit;
      align-items: center; }
      section.event > .wr > .el-2 > .content {
        max-width: 480px; }
        section.event > .wr > .el-2 > .content h3 {
          color: rgba(255, 255, 255, 0.8);
          font-family: Raleway-Lighter;
          font-size: 48px;
          font-weight: lighter; }
        section.event > .wr > .el-2 > .content .descr {
          color: white;
          font-family: Raleway-Lighter;
          font-size: 16px;
          font-weight: 400; }
    section.event > .wr footer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px; }
      section.event > .wr footer > ul.links {
        list-style: none;
        display: flex;
        margin: 35px 0 20px 0;
        padding: 0; }
        section.event > .wr footer > ul.links li {
          margin: 0 15px; }
          section.event > .wr footer > ul.links li a {
            color: rgba(255, 255, 255, 0.4);
            font-family: Raleway-Regular;
            font-size: 14px;
            font-weight: 100; }
            section.event > .wr footer > ul.links li a:hover, section.event > .wr footer > ul.links li a.active {
              color: white; }
      section.event > .wr footer > .copy {
        color: rgba(255, 255, 255, 0.4);
        font-family: Raleway-Lighter;
        font-size: 13px;
        font-weight: 100; }
        section.event > .wr footer > .copy a {
          color: inherit; }
          section.event > .wr footer > .copy a:hover {
            color: white; }

section {
  width: 100%;
  overflow-x: hidden; }

/*# sourceMappingURL=style.css.map */
